body {
	color: #000000 ;
	background-color: #FFFFFF ;
	font-family: sans-serif ;
}

a:link {
	color: #000080 ;
	background-color: #FFFFFF ;
	text-decoration: none ;
}

a:visited {
	background-color: #FFFFFF ;
	text-decoration: none ;
}

a:link:hover, a:visited:hover {
	color: #000080 ;
	background-color: #E0E0FF ;
}

